*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    @font-face {
        font-family: Roboto;
        src: url("fonts/Roboto-Regular-webfont.woff"); format(".woff")
    }  
    body{
        font-family: Roboto , sans-serif;
    }  
header{
  background: #1f2937;
  padding: 0 70px;
  
}
.container{ 
    display: flex;
}
.logo{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 500px;
}
.header-link ,li{
    display: flex;
    margin-left:auto ;
    align-items: center;
    margin-right: 10px;
}
.header-article{
    display: flex;
    margin-top: 30px;
   
}
.header-article >.container{
    display: flex;
    flex-direction: column;
    width: 300px;
   
}
.header-article >.container >button{
    margin: 10px 0;
}
button{
    width: 70px;
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.p1, h1{
    color: #f9faf8;
    font-size: 24px;
}
li , span{
    color: #e5e7eb;
}
img{
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
li{
    list-style: none;
}
/* this is the body design */
.body-article > h2{
    display: flex;
    justify-content: center;
    margin: 30px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;

}

.body-article > .container {
     display: flex;
    justify-content: center;
    
}
 .box{
    border: 2px solid #3882f6;
    border-radius: 15px;
    width: 100px;
    height: 100px;
   display: flex;
   justify-content: center;
}
/* this target the box and text */
.card{
    margin-left: 35px;
}

.text{
    width: 100px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 60px;
}

/* this is the qoute section */
.first-section{
    background-color: #e5e7eb;  
    display: flex;
    justify-content: center;    
}
.first-section > .container{
    display: flex;
    flex-direction: column;
    padding: 46px; 
}
.first-section > .container .quote{
    font-size: 36px;
    font-style: italic; 
    color: #1f2937;
    display: flex;
    justify-content: center;
    font-weight: lighter;
}
.first-section > .container .author{
    font-weight: bold;
    display: flex;
    margin-left: auto;
    
}
/* making the sign up section */
.second-section > .main-container {
    background-color:#3882f6 ;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;

}

.second-section > .main-container .container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.second-section > .main-container button{
 border: 1px solid white;
margin-left: auto;
padding: 3px 5px;
}
h4{
    color: #f9faf8;
}
.p2{
    color: #f9faf8;
    margin-top: 3px;
}
footer{
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
